{% extends "base.html" %}

{% block content %}
        <p>Seneca College. Kathy Lam. Rene Q. Phil R. Nina N. Katelyn D.</p>
        <p>What we used:
        <ul>
                <li>Website design: <a href="http://www.w3.org/TR/html5/">HTML5 & CSS3</a></li>
                <li>Website structure: <a href="https://www.djangoproject.com/">Django web framework</a></li>
                        <a href="https://github.com/etianen/django-reversion">Django Reversion Package for reverting back to old changes</a>
                <li>Database: <a href="http://www.mysql.com/">MySQL</a></li>
                <li>Scripting: <a href="http://www.perl.org/">Perl</a></li>
                <li>Graphics: <a href="http://www.bioperl.org/">BioPerl Library</a></li>
                <li>Determining ORFs: <a href="http://omics.informatics.indiana.edu/FragGeneScan/">FragGeneScan</a></li>
                <li>Cluster Computing: <a href="https://www.sharcnet.ca">Sharcnet</a></li>

        </ul>
        </p>
        <p>
        Thanks to:
                <ul>
                <li><a href="https://uwaterloo.ca/science-computing/" alt>U waterloo for hosting</a></li>
                <li>Trevor and lab</li>
                </ul>
        </p>
        <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
                </a>
                <a href="http://www.w3.org/html/logo/">
                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
                </a> 
        </p>
{% endblock %}