{% extends "base.html" %}

{% block content %}
        <p>our names/seneca </p>
        <p>What we used:
        <ul>
                <li><a href="http://www.w3.org/TR/html5/">HTML5 & CSS3</a></li>
                <li><a href="https://www.djangoproject.com/">Django web framework</a></li>
                <li><a href="http://www.mysql.com/">MySQL</a></li>
                <li><a href="http://www.perl.org/">Perl</a></li>
                <li><a href="http://www.r-project.org/">R</a></li>

        </ul>
        </p>
        <p>
        Thanks to:
                <ul>
                <li><a href="https://uwaterloo.ca/science-computing/" alt>U waterloo for hosting</a></li>
                <li>Trevor and lab</li>
                <li>anyone else?</li>
                </ul>
        </p>
        <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
                </a>
                <a href="http://www.w3.org/html/logo/">
                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
                </a> 
        </p>
{% endblock %}