{% extends "base.html" %}

{% block head %}
    <title>
        {% block pagetitle%}
        {% endblock %}
    </title>
{% endblock %}

{% block subtitle %}
    <img src="{{ STATIC_URL }}icons/add64.png"><h2 class="add">{% block titletext %}{% endblock %}</h2>
{% endblock %}

{% block errors %}{% endblock %}

{% block content %}
    <form action="{% block urlform %}{% endblock %}" {% block otherform %}{% endblock %} method="post">
        {% csrf_token %}
        <table>    
            {% block form %}
            {% endblock %}
        </table>
        <input type="submit" value="Add">
    </form>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        {% block link %}
        {% endblock %}
    </section>
{% endblock %}