{% extends "base.html" %}
{% block content %}
    <h2 class="list">Antibiotics</h2>
    <table class="list">
            <tr>
                <th>Antibiotic Name</th>
            </tr>
        {% for antibiotic in antibiotic_list %}
            <tr>
                <td>{{ antibiotic.antibiotic_name }}</td>
            </tr>
        {% endfor %}
    </table>
     <div class="pagination">
        <span class="page-links">
                {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-current">
                        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
        </span>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/antibiotic"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a>
    </section>
{% endblock %}