<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" />
        {% block head %}{% endblock %}
    </head>
  <body>
     <header id="head">
            <h1>Metagenomics Clone Bank</h1>
            <div id="user">
                {{ user.first_name }}<br>
                <a href="/user/settings"><img title="Settings" src="{{ STATIC_URL }}gear.png" alt="user settings"/></a> <a href="{% url 'logout' %}"><img title="Logout" src="{{ STATIC_URL }}logout.png" alt="logout"/></a>
            </div>
            
            <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Add</a>
                    <ul>
                        <li><a href="{% url 'cosmid-end-tag-add' %}">Cosmid</a></li>
                        <li><a href="{% url 'subclone-add' %}">Subclone</a></li>
                        <li><a href="{% url 'subclone-assay-add' %}">Subclone Assay</a></li>
                        <li><a href="{% url 'cosmid-assay-add' %}">Cosmid Assay</a></li>
                        <li><a href="{% url 'orf-contig-add' %}">ORF</a></li>
                        <li><a href="{% url 'contig-pool-add' %}">Contigs</a></li>
                    </ul>
                </li>
                <li><a href="/search">Search</a>
                    <ul>
                        <li><a href="{% url 'cosmid-search' %}">Cosmid</a></li>
                        <li><a href="{% url 'subclone-search' %}">Subclone</a></li>
                        <li><a href="{% url 'cosmid-assay-search' %}">Cosmid Assay</a></li>
                        <li><a href="{% url 'subclone-assay-search' %}">Subclone Assay</a></li>
                        <li><a href="{% url 'orf-search' %}">ORF</a></li>
                        <li><a href="">Sequence (Local BLAST)</a></li>
                    </ul>
                </li>
                <li><a href="/viewall">View All</a>
                    <ul>
                        <li><a href="{% url 'cosmid-end-tag-list' %}">Cosmids</a></li>
                        <li><a href="{% url 'primer-list' %}">Primers</a></li>
                        <li><a href="{% url 'host-list' %}">Hosts</a></li>
                        <li><a href="{% url 'screen-list' %}">Functional Screens</a></li>
                        <li><a href="{% url 'library-list' %}">Libraries</a></li>
                        <li><a href="{% url 'researcher-list' %}">Researchers</a></li>
                        <li><a href="{% url 'substrate-list' %}">Substrates</a></li>
                        <li><a href="{% url 'vector-list' %}">Vectors</a></li>
                        <li><a href="{% url 'pool-list' %}">Sequencing Pools</a></li>
                    </ul>
                </li>
                <li><a href="/tools">Tools</a>
                    <ul>
                        <li><a href="/tools/contig">Contig Retrieval Tool</a></li>                  
                        <li><a href="/tools/pooling">Pooling Tool</a></li>           
                    </ul>
                </li>
                <li><a href="">Help</a>
                    <ul>
                        <li><a href="/help/faq">FAQ</a></li>                  
                        <li><a href="/help/userdoc">User Documentation</a></li>           
                    </ul>
                </li>
            </ul>
            </nav>            
        </header>
        
        <div id="main">
            {% block content %}{% endblock %}
        </div>
        
        <footer id="footer">
            <p><a href="/about">About</a>
            </p>
        </footer>  
  </body>
</html>