<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}icons/favicon.ico" />
        {% block head %}{% endblock %}
    </head>
  <body onload="init()">
    <div class="bodywrap">
     <header id="head">
        <h1 id="header h1"></h1>
            <div id="user">
                <span style="vertical-align: bottom">{{ user.first_name }} {{ user.last_name }}</span><br>
                <a href="/user/settings"><img style="width:40px; padding:10px" title="Settings" src="{{ STATIC_URL }}/icons/gear2-256.png" alt="user settings"/></a>
                <a href="{% url 'logout' %}"><img style="width:40px; padding:10px" title="Logout" src="{{ STATIC_URL }}/icons/power256.png" alt="logout"/></a>
                
            </div>
            
            <nav>
            <ul>
                <li><a href="/">Home<img src="{{ STATIC_URL }}icons/home.png"alt="home"></a></li>
                {% if perms.mainsite.add_cosmid or perms.mainsite.add_subclone or perms.mainsite.add_subclone_assay or perms.mainsite.add_cosmid_assay or perms.mainsite.add_orf or perms.mainsite.add_contig %}
                <li><a href="">Add<img src="{{ STATIC_URL }}icons/add.png"alt="add"></a>
                    <ul>
                        {% if perms.mainsite.add_cosmid %}
                                <li><a href="{% url 'cosmid-end-tag-add' %}">Cosmid</a></li>
                        {% endif %}
                        {% if perms.mainsite.add_subclone %}
                                <li><a href="{% url 'subclone-add' %}">Subclone</a></li>
                        {% endif%}
                        {% if perms.mainsite.add_subclone_assay %}
                                <li><a href="{% url 'subclone-assay-add' %}">Subclone Assay</a></li>
                        {% endif %}
                        
                        {% if perms.mainsite.add_cosmid_assay %}
                                <li><a href="{% url 'cosmid-assay-add' %}">Cosmid Assay</a></li>
                        {% endif %}
                        {% if perms.mainsite.add_contig %}
                                <li><a href="{% url 'contig-pool-add' %}">Contigs</a></li>
                        {% endif %}
                        {% if perms.mainsite.add_orf %}
                                <li><a href="{% url 'orf-contig-add' %}">ORF</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li><a href="">Search<img src="{{ STATIC_URL }}icons/search.png"alt="search"></a>
                    <ul>
                        <li><a href="{% url 'cosmid-search' %}">Cosmids</a></li>
                        <li><a href="{% url 'subclone-search' %}">Subclones</a></li>
                        <li><a href="{% url 'cosmid-assay-search' %}">Cosmid Assays</a></li>
                        <li><a href="{% url 'subclone-assay-search' %}">Subclone Assays</a></li>
                        <li><a href="{% url 'contig-search' %}">Contigs</a></li>
                        <li><a href="{% url 'orf-search' %}">ORFs</a></li>
                        <li><a href="{% url 'blast-search' %}">Sequences (BLAST)</a></li>
                    </ul>
                </li>
                <li><a href="">View All<img src="{{ STATIC_URL }}icons/all.png"alt="all"></a>
                    <ul>
                        <li><a href="{% url 'cosmid-end-tag-list' %}">Cosmids</a></li>
                        <li><a href="{% url 'subclone-list' %}">Subclones</a></li>
                        <li><a href="{% url 'cosmid-assay-list' %}">Cosmid Assays</a></li>
                        <li><a href="{% url 'subclone-assay-list' %}">Subclone Assays</a></li>
                        <li><a href="{% url 'contig-list' %}">Contigs</a></li>
                        <li><a href="{% url 'orf-list' %}">ORFs</a></li>
                        <li><a href="{% url 'cosmid-end-tag-list' %}">Static Data >> </a>
                            <ul>
                                <li><a href="{% url 'primer-list' %}">Primers</a></li>
                                <li><a href="{% url 'host-list' %}">Hosts</a></li>
                                <li><a href="{% url 'screen-list' %}">Functional Screens</a></li>
                                <li><a href="{% url 'library-list' %}">Libraries</a></li>
                                <li><a href="{% url 'researcher-list' %}">Researchers</a></li>
                                <li><a href="{% url 'substrate-list' %}">Substrates</a></li>
                                <li><a href="{% url 'vector-list' %}">Vectors</a></li>
                                <li><a href="{% url 'pool-list' %}">Sequencing Pools</a></li>
                                <li><a href="{% url 'antibiotic-list' %}">Antibiotics</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="">Tools<img src="{{ STATIC_URL }}icons/tools.png"alt="tools"></a>
                    <ul>
                        <li><a href="/tools/contig">Contig Retrieval Tool</a></li>                  
                        <li><a href="/tools/annotation">Gene Annotation Tool</a></li>           
                    </ul>
                </li>
                <li><a href="">Help<img src="{{ STATIC_URL }}icons/help.png"alt="help"></a>
                    <ul>
                        <li><a href="/help/faq">FAQ</a></li>                  
                        <li><a href="/help/userdoc">User Documentation</a></li>           
                    </ul>
                </li>
            </ul>
            </nav>            
        </header>
        
        <section id="title">
          {% block subtitle %}{% endblock %}
        </section>
        <section id="main">
            {% block content %}{% endblock %}
        </section>
        {% block second %}{% endblock %}
        {% block third %}{% endblock %}
        <footer id="footer">
            <p><a href="/about">About</a>
             {% if user.is_staff %}
              <a href="/admin">Administration</a>
             {% endif %}
            </p>
        </footer>  
  </body>
  </div>
</html>