{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Contigs</h2>
{% endblock %}

{% block content %}
        {% if contig_list %}
        <p>X number of results OR All records</p>
        <table class="list">
            <tr>
                <th>Contig Name</th>
                <th>Pool ID</th>
                <th>Contig Sequence</th>
                <th>Contig NCBI Accession</th>
                <th>BLAST Hit NCBI Accession</th>
                <th>Image</th>
                
            </tr>
        {% for contig in contig_list %}
            <tr>
                <td><a href="{% url 'contig-list' %}{{contig.contig_name}}">{{ contig.contig_name}}</a></td>
                <td>{{ contig.pool_id}}</td>
                <td><textarea rows="5" cols="100" readonly=true>{{ contig.contig_sequence }}</textarea></td>
                <td>{{ contig.contig_accession }}</td>
                <td>{{ contig.blast_hit_accession }}</td>
                <td>{{ contig.image }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if search %}
                <div class="pagination">
                    <span class="page-links">
                            {% if contig_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.previous_page_number}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{contig_list.number}} of {{ contig_list.paginator.num_pages}}
                            </span>
                            {% if contig_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.next_page_number}}">Next</a>
                            {% endif %}
                    </span>
                </div>
        {% else %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                                <a href="?{page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                                Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                        </span>
                        {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </span>
                </div>
        {% endif %}
        </table>
        {% endif %}
{% endblock %}