{% extends "add.html" %}

{% block pagetitle%}
    Add Contigs
{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}icons/add64.png"><h2 class="add">Add Contigs</h2>
    <p>Select a FASTA file of contigs to associate with a sequencing pool.</p>
{% endblock %}

{% block urlform %}
    {% url "contig-pool-add" %}
{% endblock %}

{% block otherform %}
    enctype="multipart/form-data"
{% endblock %}

{% block form %}
    {{ contig_form }}
    {{ contig_upload_form }}
{% endblock %}

{% block errors %}
    {% for key,value in form_errors.items %}
        {{ value }}
    {% endfor %}
{% endblock %}

{% block link %}
{% endblock %}
