{% extends "base.html" %}
{% block head %}<title>Contigs</title>{% endblock %}
{% block subtitle %}
<img src="{{ STATIC_URL }}icons/allblack64.png"><h2 class="list">Contigs</h2>
{% endblock %}

{% block content %}
    {% if contig_list %}
        
        {% if search %}
                <p><a href="/export/contig" >Download All Search Results</a></p>
                {% if search == 2%}
                <p>Search for '{{query}}' returned {{total}} results</p>
                {% else %}
                <p> Search returned {{total}} results</p>
                {% endif %}
        {% else %}
                <p><a href="/export/contig" >Download All Records</a></p>
                <p>{{total}} contig records found</p>
        {% endif %}
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if contig_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{contig_list.number}} of {{ contig_list.paginator.num_pages}}
                            </span>
                            {% if contig_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.next_page_number}}&order_by={{order_by}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
        <table class="list">
            <tr>
                <th><a href="?{{queries.urlencode}}&order_by=contig_name">Contig Name</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=pool">Pool ID</a></th>
                <th>Contig Sequence</th>
                <th>Contig NCBI Accession</th>
                <th>BLAST Hit NCBI Accession</th>                
            </tr>
        {% for contig in contig_list %}
            <tr>
                <td><a href="{% url 'contig-list' %}{{contig.contig_name}}">{{ contig.contig_name}}</a></td>
                <td>{{ contig.pool_id}}</td>
                <td><textarea rows="5" cols="100" readonly=true>{{ contig.contig_sequence }}</textarea></td>
                <td>{% if contig.contig_accession  != None %}{{ contig.contig_accession }}{% endif %}</td>
                <td>{% if contig.blast_hit_accession  != None %}{{ contig.blast_hit_accession }}{% endif %}</td>
            </tr>
        {% endfor %}
        </table>
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if contig_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{contig_list.number}} of {{ contig_list.paginator.num_pages}}
                            </span>
                            {% if contig_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{contig_list.next_page_number}}&order_by={{order_by}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
        </table>
        {% else %}
            <p>0 Contigs found for search '{{ query }}' <a href="{% url 'contig-search' %}">Try another search</a>.</p>
        {% endif %}
{% endblock %}