{% extends "base.html" %}

{% block content %}
    {% for key,value in form_errors.items %}
        {{ value }}
    {% endfor %}
    
    <form action="{% url "contig-pool-add" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table border = 1>    
            <tr>
                <th>Choose a sequencing pool:</th>
                <td>[drop down menu]</td>
            </tr>
                {{ contig_upload_form }}
        </table>
        <input type="submit">
    </form>
{% endblock %}
