{% extends "detail.html" %}

{% block titletext %}Contig {{ name }}{% endblock %}

{% block record %}
    <table>
    <tr><th>Pool:</th><td> {{ pool }} </td></tr>
    <tr><th>Accession:</th><td>  {{ accession }}</td></tr>
    <tr><th>Associated Cosmids:</th><td> 
    {% for c in cosmids %}
        <a href="{% url 'cosmid-end-tag-list' %}{{ c.cosmid_name }}">{{ c.cosmid_name }}</a><br>
    {% endfor %}
    </td></tr>
    <tr><th>Sequence:
    </th><td><textarea readonly rows="20" cols="70" onclick="this.focus();this.select()">{{ sequence }}</textarea></td></tr>
    </table>
{% endblock %}

{% block orfimg %}
    <div style=width:100%;overflow:auto;border-style:solid;border-width:thin;>
    <img src="{{ STATIC_URL }}scaffold177_1-F1.png" alt="ORF's for Contig"><br>
    </div>
    <p>Open reading frames in {{ name }}</p>
    <p><a href="{% url 'orf-contig-add' %}">Add new ORF</a></p>
    <table>
        <tr>
        <th>ID</th>
        <th>Annotation</th>
        <th>Sequence</th>
        <th>Accession (if submitted to GenBank)</th>
        <th>Start</th>
        <th>Stop</th>
        <th>ORF on complement strand?</th>
        <th>Predicted by FGS</th>
        <th>Prediction Score</th>
        <th>Remove</th>
        </tr>
    {% for orf in orfresults %}
        <tr>
        {% for s in orfseq %}
            {% if s.id = orf.orf_id %}
                <td><a href="{% url 'orf-list' %}{{ s.id }}">{{s.id }}</a></td>
                <td>{{ s.annotation }}</td>
                <td>
                    <textarea rows="4" cols"10" readonly=true>{{ s.orf_sequence }}</textarea>
                </td>   
            {% endif %}
        {% endfor %}
            <td>{{ orf.orf_accession }}</td>
            <td>{{ orf.start }}</td>
            <td>{{ orf.stop }}</td>
            <td>{{ orf.complement }}</td>
            <td>{{ orf.predicted }}</td>
            <td>{{ orf.prediction_score }}</td>
            <td><a href="/delete/contig-orf/{{ orf.id }}">Remove</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block link %}
    {% if perms.mainsite.change_contig %}
        <a href="/edit{% url 'contig-list' %}{{ key }}"><img src="{{ STATIC_URL }}icons/edit.png" alt="edit contig">Edit {{ name }}</a>
    {% endif %}
{% endblock %}