{% extends "base.html" %}

{% block head %}
    <title>
        Search Cosmids
    </title>
    <script  src="{{ STATIC_URL }}tabs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}tabs.css" type="text/css" />
{% endblock %}

{% block subtitle %}
    <img src="{{ STATIC_URL }}icons/search64.png"><h2 class="search">Search Cosmids</h2>
{% endblock %}

{% block content %}
    <ul id="tabs">
        <li><a href="#Basic">Basic Search</a></li>
        <li><a href="#Advanced">Advanced Search</a></li>
        <li><a href="#BLAST">BLAST</a></li>
    </ul>
    <div class="tabContent" id="Basic">
        <form action="{% url 'cosmid-basic-results' %}" method="get">
            <table class="search">
                {{ basicform }}
            </table>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="tabContent" id="Advanced">
        <form action="{% url 'cosmid-results' %}" method="get">
            <table class="search">
                {{ advancedform }}
            </table>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="tabContent" id="BLAST">
        <form action="{% url 'blast-results' %}?from={{ request.path}}" method="post">
            <table class="search">
                {% csrf_token %}
                {{ blast_form }}
            </table>
            <input type="submit" value="BLAST">
        </form>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Links</h3>
        <a href="{% url 'cosmid-end-tag-list' %}"><img class="viewall" src="{{ STATIC_URL }}icons/allblack.png" alt="all">View All</a><br>
    </section>
{% endblock %}

{# 
<!--add tag extends "search.html" add tag

{% block pagetitle%}
    Search Cosmids
{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}icons/search64.png"><h2 class="search">Search Cosmids</h2>
{% endblock %}

{% block urlform %}
    {% url 'cosmid-results' %}
{% endblock %}
    
{% block methodform %}
    get
{% endblock %}

{% block form %}
    {{ form }}
{% endblock %}

{% block link %}
<a href="{% url 'cosmid-end-tag-list' %}"><img class="viewall" src="{{ STATIC_URL }}icons/allblack.png" alt="all">View All</a><br>
{% endblock %}-->
#}