{% extends "base.html" %}
{% block content %}
    {% if cosmid_list %}
    <h2 class="list">Cosmids</h2>
    <p>X number of results OR All records</p>
        <table class="list">
            <tr>
                <th>Cosmid Name</th>
                <th>Researcher Name</th>
                <th>Library</th>
                <th>Screen Expression Host</th>
                <th>Screen Name</th>
                <th>E. coli Stock Location</th>
                <th>Sequencing Pool ID (optional)</th>
                <th>End Tag 1 (optional)</th>
                <th>End Tag 2 (optional)</th>
            </tr>
        {% for cosmid in cosmid_list %}
            <tr>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.cosmid_name }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.researcher.researcher_name }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.library.library_name }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.host.host_name }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.screen.screen_name }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.ec_collection }}</a></td>
                <td><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.pool.id }}</a></td>
                
                {% for end_tag in cosmid.end_tag_set.all %}
                        <td>
                        <a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}"><textarea rows="5" cols="40" readonly=true>{{ end_tag.end_tag_sequence }}</textarea></a>
                        </td>
                {% endfor %}
                
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>0 Cosmids found. <a href="{% url 'cosmid-search' %}">Try another search</a>.</p>
    {% endif%}
{% endblock %}