{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Cosmid Assays</h2>
{% endblock %}

{% block content %}

     <a href="/export/cosmid_assay" >Download CSV File</a>

    <p>X number of results OR All records</p>
    <table class="list">
            <tr>
                <th>Cosmid Name</th>
                <th>Expression Host</th>
                <th>Substrate</th>
                <th>Antibiotic</th>
                <th>Researcher Name</th>
                <th>Km (mM)</th>
                <th>Temp Optimum</th>
                <th>pH Optimum</th>
                <th>Comments/Observations</th>
            </tr>
        {% for cosmid_assay in cosmid_assay_list %}
            <tr>
                <td><a href="{% url 'cosmid-assay-list' %}{{ cosmid_assay.pk }}">{{ cosmid_assay.cosmid.cosmid_name }}</a></td>
                <td>{{ cosmid_assay.host.host_name}}</td>
                <td>{{ cosmid_assay.substrate.substrate_name }}</td>
                <td>{{ cosmid_assay.antibiotic.antibiotic_name }}</td>
                <td>{{ cosmid_assay.researcher.researcher_name }}</td>
                <td>{{ cosmid_assay.cosmid_km}}</td>
                <td>{{ cosmid_assay.cosmid_ph }}</td>
                <td>{{ cosmid_assay.cosmid_temp }}</td>
                <td>{{ cosmid_assay.cosmid_comments }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if search %}
                <div class="pagination">
                    <span class="page-links">
                            {% if cosmid_assay_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.previous_page_number}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{cosmid_assay_list.number}} of {{ cosmid_assay_list.paginator.num_pages}}
                            </span>
                            {% if cosmid_assay_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.next_page_number}}">Next</a>
                            {% endif %}
                    </span>
                </div>
        {% else %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                                <a href="?{page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                                Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                        </span>
                        {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </span>
                </div>
        {% endif %}
{% endblock %}
