{% extends "base.html" %}
{% block content %}
    {% if cosmid_list %}
    <h2 class="list">Cosmids</h2>
    <p>X number of results OR All records</p>
        <table class="list">
            <tr>
                <th>Cosmid Name</th>
                <th>Researcher Name</th>
                <th>Library</th>
                <th>Screen Expression Host</th>
                <th>Screen Name</th>
                <th>E. coli Stock Location</th>
                <th>Sequencing Pool</th>
                <th>End Tag 1</th>
                <th>End Tag 2</th>
                <th>Cosmid Comments</th>
            </tr>
        {% for cosmid in cosmid_list %}
            <tr>
                <td style="height:60px;"><a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}">{{ cosmid.cosmid_name }}</a></td>
                <td>{{ cosmid.researcher.researcher_name }}</td>
                <td>{{ cosmid.library.library_name }}</td>
                <td>{{ cosmid.host.host_name }}</td>
                <td>{{ cosmid.screen.screen_name }}</td>
                <td>{{ cosmid.ec_collection }}</td>
                <td>{{ cosmid.pool.id }}</td>
                
                {% if cosmid.end_tag_set.all|length == 2 %}
                        {% for end_tag in cosmid.end_tag_set.all %}
                        <td>
                        <a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}"><textarea rows="3" cols="20" readonly=true>{{ end_tag.end_tag_sequence }}</textarea></a>
                        </td>
                        {% endfor %}
                {% elif cosmid.end_tag_set.all|length == 1 %}
                        {% for end_tag in cosmid.end_tag_set.all %}
                        <td>
                        <a href="{% url 'cosmid-end-tag-list' %}{{ cosmid.cosmid_name }}"><textarea rows="3" cols="20" readonly=true>{{ end_tag.end_tag_sequence }}</textarea></a>
                        </td>
                        {% endfor %}
                        <td>&nbsp;</td>
                {% else %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                {% endif %}
                <td>{{ cosmid.cosmid_comments }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>0 Cosmids found. <a href="{% url 'cosmid-search' %}">Try another search</a>.</p>
    {% endif%}
{% endblock %}