{% extends "add.html" %}

{% block pagetitle%}
    Add Cosmid
{% endblock %}

{% block titletext %}Add Cosmid{% endblock %}

{% block urlform %}
    {% url "cosmid-end-tag-add" %}
{% endblock %}

{% block form %}
    <table>
    {% for field in cosmid_form %}
        <tr>
            <th>
            {% if field.field.required %}
                *{{ field.label }}
            {% else %}
                {{ field.label }}
            {% endif %}
            </th>
            <td>
            {{ field }}
            </td>
    {% endfor %}

    </table>
    {% for form in end_tag_formset %}
        <h3>End Tag</h3>
        <table>
            {{ form }}
        </table>
    {% endfor %}
{% endblock %}

{% block link %}
{% endblock %}
