{% extends "base.html" %}

{% block head %}
    <title>
        Cosmid {{ name }}
    </title>
    <script  src="{{ STATIC_URL }}tabs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}tabs.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">        
        $(function(){
            $('.link').scroll(function(){
                $('.link').scrollLeft($(this).scrollLeft());    
            });
        });
        //if (typeof jQuery != 'undefined') {
        //
        //alert("jQuery library is loaded!");
        //
        //}else{
        //
        //alert("jQuery library is not found!");
        //
        //}
    </script>
{% endblock %}

{% block subtitle %}
<h2 class="detail"><img src="{{ STATIC_URL }}icons/detail64.png" alt="edit">Cosmid {{ name }}</h2>
{% endblock %}

{% block content %}
<table>  
<tr><th>Host:</th><td>{{ host }}</td></tr> 
<tr><th>Researcher: </th><td>{{ researcher }}</td></tr>  
<tr><th>Library: </th><td>{{ library }}</td> </tr> 
<tr><th>Screen: </th><td>{{ screen }}</td> </tr> 
<tr><th>Ec Collection: </th><td>{{ ec_collection }}</td> </tr> 
<tr><th>Original Media: </th><td>{{ media }}</td> </tr> 
<tr><th>Pool: </th><td>{{ pool }}</td> </tr> 
<tr><th>Lab Book Reference: </th><td>{{ lab_book }}</td> </tr> 
<tr><th>Comments: </th><td>{{ cosmid_comments }}</td> </tr> 
</table>

<h3>End Tags</h3>


{% for endtag in endtags %}
    <table>
    {% for p in primers %}
        {% if endtag.primer_id = p.id %}
            <tr><th>Primer: </th><td>{{ p.primer_name }}</td></tr>
        {% endif %}
    {% endfor %}
    <th><label>End Tag:</th><td><textarea rows="10" cols="80" readonly>{{ endtag.end_tag_sequence }}</textarea></label></td></tr>
    <th><label>Vector Trimmed?</th><td>{{ endtag.vector_trimmed }}</td>
    </table>
    <br>
{% endfor %}

<br>
{% endblock %}

{% block third %}
<div class="tabs">
    <ul id="tabs">
        {% for list in contigs %}
            <li><a href="#{{ list.contig_name }}">{{ list.contig_name }}</a></li>
        {% endfor %}
    </ul>
    {% for list in contigs %}
        <div class="tabContent" id="{{ list.contig_name }}">
            <h3>Contig: <a href="/contig/{{ list.contig_name }}">{{ list.contig_name }}</a></h3><br>
                Pool: {{ list.pool }}<br>   
                Accession: {{ list.contig_accession }}<br>
                <label>Sequence: <br>
                <textarea rows="15" cols="70" readonly=true>{{ list.contig_sequence }}</textarea></label><br><br>
                    <div class="link" style=width:100%;max-height:100px;overflow-y:auto;overflow-x:hiddenl;border-style:solid;border-width:thin;>
                        <img src="{{ STATIC_URL }}scaffold109_1-CONTIG.png" alt="ORF's for Contig"><br>
                    </div>
                    <div class="link" style=width:100%;max-height:100px;overflow-y:auto;overflow-x:hidden;border-style:solid;border-width:thin;>
                        <img src="{{ STATIC_URL }}scaffold109_1-ALIGN.png" alt="ORF's for Contig"><br>
                    </div>
                    <div class="link" style=width:100%;max-height:150px;overflow-y:auto;overflow-x:hidden;border-style:solid;border-width:thin;>
                        <img src="{{ STATIC_URL }}scaffold109_1-GENBANK.png" alt="ORF's for Contig"><br>
                    </div>
                    <div class="link" style=width:100%;max-height:150px;overflow-y:auto;overflow-x:hidden;border-style:solid;border-width:thin;>
                        <img src="{{ STATIC_URL }}scaffold109_1-GLIM.png" alt="ORF's for Contig"><br>
                    </div>
                    <div class="link" style=width:100%;max-height:150px;overflow-y:auto;overflow-x:hidden;border-style:solid;border-width:thin;>
                        <img src="{{ STATIC_URL }}scaffold109_1-MANUAL.png" alt="ORF's for Contig"><br>
                    </div>
                <br>
                <h3>Open reading frames in {{ list.contig_name }}</h3>
                <p><a href="{% url 'orf-contig-add' %}">Add new ORF</a></p>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Annotation</th>
                        <th>Sequence</th>
                        <th>Accession (if submitted to GenBank)</th>
                        <th>Start</th>
                        <th>Stop</th>
                        <th>ORF on complement strand?</th>
                        <th>Predicted by FGS</th>
                        <th>Prediction Score</th>
                        <th>Remove</th>
                    </tr>
                {% for orf in orfs %}
                    {% if orf.contig_id = list.id %}
                        {% for s in seq %}
                            {% if s.id = orf.orf_id %}
                                 <tr><td><a href="{% url 'orf-list' %}{{ s.id }}">{{ s.id }}</a></td>
                                 <td>{{ s.annotation }}</td>
                                <td><textarea rows="4" cols"10" readonly=true>{{ s.orf_sequence }}</textarea></td>
                            {% endif %}
                        {% endfor %}

                        <td>{{ orf.orf_accession }}</td>
                        <td>{{ orf.start }}</td>
                        <td>{{ orf.stop }}</td>
                        <td>{{ orf.complement }}</td>
                        <td>{{ orf.predicted }}</td>
                        <td>{{ orf.prediction_score }}</td>
                        <td><a href="/delete/contig-orf/{{ orf.id }}">Remove</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
        </div>
    {% endfor %}

</div>    
<!-- {#
<div class="tabs">
{% for list in contigs %}
    <div class="tab">
        <input type="radio" id="{% cycle 'tab1' 'tab2' %}" name="contigtabs" checked>
        <label for="{% cycle 'tab1' 'tab2' %}" class ="tab">{{ list.contig_name }}</label>
        <div class="tab-panel"> 
            <div class="content">
                
            </div>
        </div>
    </div>
{% endfor %}
</div>
 #} -->
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Links</h3>
        {% if perms.mainsite.change_cosmid %}
        <a href="/edit/cosmid/{{ name }}"><img src="{{ STATIC_URL }}icons/edit.png" alt="edit">Edit {{ name }}</a><br>
    {% endif %}
        <a href="/edit/cosmid/endtags/{{ name }}"><img src="{{ STATIC_URL }}icons/edit.png" alt="edit">Edit {{ name }} End Tags</a><br>
    </section>
{% endblock %}