{% extends "detail.html" %}

{% block subtitle %}
<h2><img src="{{ STATIC_URL }}icons/detail64.png" alt="">Cosmid Assay</h2>
{% endblock %}

{% block record %}
    <table>
        <tr><th>Cosmid</th><td><a href="{% url 'cosmid-end-tag-list' %}{{cosmid_assay.cosmid}}">{{ cosmid_assay.cosmid }}</a></td></tr>
        <tr><th>Host</th><td>{{ cosmid_assay.host }}</td></tr>
        <tr><th>Substrate</th><td>{{ cosmid_assay.substrate}}</td></tr>
        <tr><th>Antibiotic</th><td>{{ cosmid_assay.antibiotic}}</td></tr>
        <tr><th>Researcher</th><td>{{ cosmid_assay.researcher }}</td></tr>
        <tr><th>Km</th><td>{{ cosmid_assay.cosmid_km }}</td></tr>
        <tr><th>Optimum Temperature</th><td>{{ cosmid_assay.cosmid_temp }}</td></tr>
        <tr><th>pH</th><td>{{ cosmid_assay.cosmid_ph }}</td></tr>
        <tr><th>Comments</th><td>{{ cosmid_assay.cosmid_comments }}</td></tr>
    </table>
{% endblock %}

{% block link %}
    {% if perms.mainsite.change_cosmid_assay %}
        <a href="/edit{% url 'cosmid-assay-list' %}{{ cosmid_assay.pk }}"><img src="{{ STATIC_URL }}icons/edit.png" alt="edit">Edit</a><br>
    {% endif %}
    <a href="export/" ><img src="{{ STATIC_URL }}icons/download.png" alt="edit">CSV File</a><br>
{% endblock %}