{% extends "base.html" %}

{% block subtitle %}
<img src="{{ STATIC_URL }}icons/allblack64.png"><h2 class="list">Cosmid Assays</h2>
{% endblock %}

{% block content %}
    {% if cosmid_assay_list %}
        
        {% if search %}
                <p><a href="/export/cosmid_assay" >Download All Search Results</a></p>
                {% if search == 2 %}
                <p>Search for '{{ query }}' returned {{total}} results</p>
                {% else %}
                <p>Search returned {{total}} results</p>
                {% endif %}
        {% else %}
                <p><a href="/export/cosmid_assay" >Download All Records</a></p>
                <p>{{total}} cosmid assay records found</p>
        {% endif %}
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if cosmid_assay_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{cosmid_assay_list.number}} of {{ cosmid_assay_list.paginator.num_pages}}
                            </span>
                            {% if cosmid_assay_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.next_page_number}}&order_by={{order_by}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
           
        <table class="list">
            <tr>
                <th><a href="?{{queries.urlencode}}&order_by=cosmid">Cosmid Name</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=host">Expression Host</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=substrate">Substrate</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=antibiotic">Antibiotic</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=researcher">Researcher Name</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=cosmid_km">Km (mM)</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=cosmid_ph">pH Optimum</a></th>
                <th><a href="?{{queries.urlencode}}&order_by=cosmid_temp">Temp Optimum</a></th>
                <th>Comments/Observations</th>
            </tr>
        {% for cosmid_assay in cosmid_assay_list %}
            <tr>
                <td><a href="{% url 'cosmid-assay-list' %}{{ cosmid_assay.pk }}">{{ cosmid_assay.cosmid.cosmid_name }}</a></td>
                <td>{{ cosmid_assay.host.host_name}}</td>
                <td>{{ cosmid_assay.substrate.substrate_name }}</td>
                <td>{{ cosmid_assay.antibiotic.antibiotic_name }}</td>
                <td>{{ cosmid_assay.researcher.researcher_name }}</td>
                <td>{{ cosmid_assay.cosmid_km}}</td>
                <td>{{ cosmid_assay.cosmid_ph }}</td>
                <td>{{ cosmid_assay.cosmid_temp }}</td>
                <td>{{ cosmid_assay.cosmid_comments }}</td>
            </tr>
        {% endfor %}
    </table>
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if cosmid_assay_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{cosmid_assay_list.number}} of {{ cosmid_assay_list.paginator.num_pages}}
                            </span>
                            {% if cosmid_assay_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{cosmid_assay_list.next_page_number}}&order_by={{order_by}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
    {% else %}
            <p>0 Subclone assays found. <a href="{% url 'subclone-assay-search' %}">Try another search</a>.</p>
    {% endif %}
{% endblock %}
