{% extends "base.html" %}

{% block content %}
    <h2 class="list">Cosmid Assays</h2>
    <p>X number of results OR All records</p>
    <table class="list">
            <tr>
                <th>Cosmid Name</th>
                <th>Expression Host</th>
                <th>Substrate</th>
                <th>Antibiotic</th>
                <th>Researcher Name</th>
                <th>Km (mM)</th>
                <th>Temp Optimum</th>
                <th>pH Optimum</th>
                <th>Comments/Observations</th>
            </tr>
        {% for cosmid_assay in cosmid_assay_list %}
            <tr>
                <td><a href="{% url 'cosmid-assay-list' %}{{ cosmid_assay.pk }}">{{ cosmid_assay.cosmid.cosmid_name }}</a></td>
                <td>{{ cosmid_assay.host.host_name}}</td>
                <td>{{ cosmid_assay.substrate.substrate_name }}</td>
                <td>{{ cosmid_assay.antibiotic.antibiotic_name }}</td>
                <td>{{ cosmid_assay.researcher.researcher_name }}</td>
                <td>{{ cosmid_assay.cosmid_km}}</td>
                <td>{{ cosmid_assay.cosmid_ph }}</td>
                <td>{{ cosmid_assay.cosmid_temp }}</td>
                <td>{{ cosmid_assay.cosmid_comments }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
