{% extends "base.html" %}

{% block head %}
{% block head2 %}
{% endblock %}
{% endblock %}

{% block subtitle %}
<img src="{{ STATIC_URL }}icons/detail64.png" alt="edit"><h2 class="detail">{% block titletext %}{% endblock %}</h2>
{% endblock %}

{% block content %}
    {% block record %}
    {% endblock %}
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Links</h3>
        <a href="/help/userdoc#Detail"><img src="{{ STATIC_URL }}icons/helpblack32.png" >Help</a><br>
        {% block link %}
        {% endblock %}
        
    </section>
{% endblock %}

{% block third %}
    {% block orfimg %}
    {% endblock %}
{% endblock %}