{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Hosts</h2>
{% endblock %}

{% block content %}
    <table class="list">
            <tr>
                <th>Host Name</th>
            </tr>
        {% for host in host_list %}
            <tr>
                <td>{{ host.host_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/host"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a>
    </section>
{% endblock %}