{% extends "base.html" %}
{% block head %}<title>All Libraries</title>{% endblock %}
{% block subtitle %}
<img src="{{ STATIC_URL }}icons/allblack64.png"><h2 class="list">Libraries</h2>
{% endblock %}

{% block content %}
    <table class="list">
            <tr>
                <th>Library Name</th>
                <th>NCBI Biosample ID</th>
                <th>Vector</th>
                <th>Estimated Unique Clones</th>
                <th>Estimated Insert Size</th>
            </tr>
        {% for library in library_list %}
            <tr>
                <td>{{ library.library_name }}</td>
                <td>{{ library.biosample }}</td>
                <td><a href="{% url 'vector-list' %}{{library.vector.id}}">{{ library.vector.vector_name }}</a></td>
                <td>{{ library.number_clones }}</td>
                <td>{{ library.insert_size }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="page-links"><p>
                {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-current">
                        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
        </p></span>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/library"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">Download All Records</a>
    </section>
{% endblock %}