{% extends "base.html" %}

{% block content %}
    <table border = 1>
            <tr>
                <th>Library Name</th>
                <th>NCBI Biosample ID</th>
                <th>Vector</th>
                <th>Estimated Unique Clones</th>
                <th>Estimated Insert Size</th>
            </tr>
        {% for library in library_list %}
            <tr>
                <td>{{ library.library_name }}</td>
                <td>{{ library.biosample }}</td>
                <td>{{ library.vector.vector_name }}</td>
                <td>{{ library.number_clones }}</td>
                <td>{{ library.insert_size }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}