{% extends "base.html" %}

{% block content %}
        <a href="/export/orf" >Download CSV File</a>
    <table border = 1>
            <tr>
                <th>ORF ID</th>
                <th>ORF Sequence</th>
                <th>Annotation (Optional)</th>
            </tr>
        {% for orf in orf_list %}
            <tr>
                <td><a href="{% url 'orf-list' %}{{ orf.id }}">{{ orf.id }}</a></td>
                <td><textarea rows="5" cols="50" readonly=true>{{ orf.orf_sequence }}</textarea></td>
                <td>{{ orf.annotation }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}