{% extends "base.html" %}

{% block subtitle %}
    <h2 class="edit"><img src="{{ STATIC_URL }}icons/edit64.png">Edit ORF {{ orf.pk }}</h2>
{% endblock %}

{% block content %}
    <p>ORF sequence cannot be edited.</p>
    <form action="" method="POST">
    {% csrf_token %}
        <table>    
            {% for field in form %}
                <tr>
                <th>{{ field.label }}</th>
                <td>{% ifequal field.label 'ORF Sequence' %}
                        <textarea readonly cols="40" id="id_orf_sequence" name="orf_sequence" rows="10">{{ field.value }}</textarea></td>
                    {% else %}
                        {{ field }}
                    {% endifequal %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit">
    </form>
{% endblock %}