{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">ORFs</h2>  
{% endblock %}

{% block content %}
    {% if orf_list %}
    <table class="list">
            <tr>
                <th>ORF ID</th>
                <th>ORF Sequence</th>
                <th>Annotation (Optional)</th>
            </tr>
        {% for orf in orf_list %}
            <tr>
                <td><a href="{% url 'orf-list' %}{{ orf.id }}">{{ orf.id }}</a></td>
                <td><textarea rows="5" cols="50" readonly=true>{{ orf.orf_sequence }}</textarea></td>
                <td>{{ orf.annotation }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="page-links">
                {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-current">
                        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
        </span>
    </div>
    {% else %}
        <p>0 ORFs found for search '{{ query }}' <a href="{% url 'orf-search' %}">Try another search</a>.</p>
    {% endif%}
{% endblock %}