{% extends "base.html" %}

{% block head %}
<title>Metagenomics Clone Bank</title>
{% endblock %}

{% block pagetitle %}
    <title>Pooling Tool</title>
{% endblock %}

{% block subtitle %}
    <h1>Pooling Tool</h1>
{% endblock %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <tr><th>Select Contig</th>
        <td><select id="contig" name="contig">
            {% for entry in contigs %}
                <option value="{{entry.id}}"> {{entry.id}}</option>
            {% endfor %}
        </select></td>
    </tr>

</form>

{% endblock %}