{% extends "base.html" %}

{% block content %}
        <a href="/export/primer" ><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a><br><br>
    <table border = 1>
            <tr>
                <th>Primer Name</th>
                <th>Primer Sequence</th>
            </tr>
        {% for primer in primer_list %}
            <tr>
                <td>{{ primer.primer_name }}</td>
                <td>{{ primer.primer_sequence }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}