{% extends "base.html" %}

{% block subtitle %}
<img src="{{ STATIC_URL }}icons/allblack64.png"><h2 class="list">Primers</h2>
{% endblock %}

{% block content %}
    <table class="list">
            <tr>
                <th>Primer Name</th>
                <th>Primer Pair</th>
                <th>Primer Direction</th>
                <th>Primer Sequence</th>
            </tr>
        {% for primer in primer_list %}
            <tr>
                <td>{{ primer.primer_name }}</td>
                <td>{{ primer.primer_pair }}</td>
                <td>{{ primer.direction }}</td>
                <td>{{ primer.primer_sequence }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="page-links"><p>
                {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-current">
                        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
        </p></span>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/primer"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">Download All Records</a>
    </section>
{% endblock %}