{% extends "base.html" %}

{% block content %}
    <h2 class="list">Researchers</h2>
    <table class="list">
            <tr>
                <th>Researcher Name</th>
            </tr>
        {% for researcher in researcher_list %}
            <tr>
                <td>{{ researcher.researcher_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/researcher"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a>
    </section>
{% endblock %}