{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Functional Screens</h2>
{% endblock %}

{% block content %}
    <table class="list">
            <tr>
                <th>Screen Name</th>
            </tr>
        {% for screen in screen_list %}
            <tr>
                <td>{{ screen.screen_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/screen"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a>
    </section>
{% endblock %}