{% extends "base.html" %}
{% block head %}
    <title>
        {% block pagetitle%}
        {% endblock %}
    </title>
{% endblock %}

{% block content %}
    {% block title%}
    {% endblock %}
    <form action="{% block urlform %}{% endblock %}" method="{% block methodform %}{% endblock %}">
        <table class="search">
            {% block form %}
            {% endblock %}
        </table>
        <input type="submit" value="Search">
    </form>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Links</h3>
        <a href="/help/userdoc#Detail"><img src="{{ STATIC_URL }}icons/helpblack32.png" >Help</a>
        {% block link %}
        {% endblock %}
    </section>
{% endblock %}