{% extends "base.html" %}

{% block head %}
    <title>
        Search Subclones
    </title>
    <script  src="{{ STATIC_URL }}tabs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}tabs.css" type="text/css" />
{% endblock %}

{% block subtitle %}
<img src="{{ STATIC_URL }}icons/search64.png"><h2 class="search">Search Subclones</h2>
{% endblock %}

{% block content %}
    <ul id="tabs">
        <li><a href="#Basic">Basic Search</a></li>
        <li><a href="#Advanced">Advanced Search</a></li>
        <li><a href="#BLAST">BLAST</a></li>
    </ul>
    <div class="tabContent" id="Advanced">
        <form action="{% url 'subclone-results' %}" method="get">
            <table class="search">
                {{ advancedform }}
            </table>
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="tabContent" id="Basic">
        <form action="{% url 'subclone-basic-results' %}" method="get">
            <table class="search">
                {{ basicform }}
            </table>
            <input type="submit" value="Search">
        </form>
    </div>
    
    <div class="tabContent" id="BLAST">
        <p>BLAST</p>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="{% url 'subclone-list' %}"><img class="viewall" src="{{ STATIC_URL }}icons/allblack.png" alt="all">View All</a><br>
    </section>
{% endblock %}


{#
extends "search.html"

{% block pagetitle%}
    Search Subclones
{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}icons/search64.png"><h2 class="search">Search Subclones</h2>
{% endblock %}

{% block urlform %}
    {% url 'subclone-results' %}
{% endblock %}

{% block methodform %}
    get
{% endblock %}
    
{% block form %}
    {{ form }}
{% endblock %}


{% block link %}
<a href="{% url 'subclone-list' %}"><img class="viewall" src="{{ STATIC_URL }}icons/allblack.png" alt="all">View All</a><br>
{% endblock %}
#}