{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Subclones</h2>
{% endblock %}

{% block content %}
        {% if subclone_list %}
        {% if search %}
            <p><a href="/export/subclone" >Download All Search Results</a></p>
            {% if search == 2 %}
                <p>Search for '{{query}}' returned {{total}} results</p>
            {% else %}
                <p> Search returned {{ total }} results</p>
            {% endif %}
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if subclone_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_list.previous_page_number}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{subclone_list.number}} of {{ subclone_list.paginator.num_pages}}
                            </span>
                            {% if subclone_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_list.next_page_number}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
        {% else %}
                <p><a href="/export/subclone" >Download All Records</a></p>
                <p>All Records</p>
                <div class="pagination">
                    <span class="page-links"><p>
                        {% if page_obj.has_previous %}
                                <a href="?{page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                                Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                        </span>
                        {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </p></span>
                </div>
        {% endif %}
        <table class="list">
                <tr>
                    <th>Subclone Name</th>
                    <th>Researcher Name</th>
                    <th>Parent Cosmid Name</th>
                    <th>ORF ID</th>
                    <th>Vector</th>
                    <th>E. coli Stock Location</th>
                    <th>Primer 1 Name</th>
                    <th>Primer 1 Sequence</th>
                    <th>Primer 2 Name</th>
                    <th>Primer 2 Sequence</th>
                </tr>
            {% for subclone in subclone_list %}
                <tr>
                    <td><a href="{% url 'subclone-list' %}{{ subclone.subclone_name }}">{{ subclone.subclone_name }}</a></td>
                    <td>{{ subclone.researcher.researcher_name }}</td>
                    <td><a href="{% url 'cosmid-end-tag-list' %}{{ subclone.cosmid.cosmid_name }}">{{ subclone.cosmid.cosmid_name }}</a></td>
                    <td>{{ subclone.orf.id }}</td>
                    <td>{{ subclone.vector.vector_name }}</td>
                    <td>{{ subclone.ec_collection }}</td>
                    <td>{{ subclone.primer1_name }}</td>
                    <td>{{ subclone.primer1_seq }}</td>
                    <td>{{ subclone.primer2_name }}</td>
                    <td>{{ subclone.primer2_seq }}</td>
    
                    
                </tr>
            {% endfor %}
        </table>
        {% if search %}
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if subclone_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_list.previous_page_number}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{subclone_list.number}} of {{ subclone_list.paginator.num_pages}}
                            </span>
                            {% if subclone_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_list.next_page_number}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
        {% else %}
                <div class="pagination">
                    <span class="page-links"><p>
                        {% if page_obj.has_previous %}
                                <a href="?{page={{page_obj.previous_page_number}}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                                Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                        </span>
                        {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}">Next</a>
                        {% endif %}
                    </p></span>
                </div>
        {% endif %}

    {% else %}
        <p>0 Subclones found. <a href="{% url 'subclone-search' %}">Try another search</a>.</p>
    {% endif%}
{% endblock %}