{% extends "search.html" %}

{% block pagetitle%}
    Search Subclone Assays
{% endblock %}

{% block title %}
    <img src="{{ STATIC_URL }}icons/search64.png"><h2 class="search">Search Subclone Assays</h2>
{% endblock %}

{% block urlform %}
    {% url 'subclone-assay-results' %}
{% endblock %}

{% block methodform %}
    get
{% endblock %}

{% block form %}
    {{ form }}
{% endblock %}

{% block link %}
<a href="{% url 'subclone-assay-list' %}"><img class="viewall" src="{{ STATIC_URL }}icons/allblack.png" alt="all">View All</a><br>
{% endblock %}