{% extends "detail.html" %}

{% block titletext %}
Subclone {{ subclone.subclone_name }}
{% endblock %}

{% block record %}
    <table>
        <tr><th>Subclone</th><td>{{ subclone.subclone_name }}</td></tr>
        <tr><th>Cosmid</th><td>{{ subclone.cosmid }}</td></tr>
        <tr><th>ORF</th><td>{{ subclone.orf }}</td></tr>
        <tr><th>Vector</th><td>{{ subclone.vector }}</td></tr>
        <tr><th>Researcher</th><td>{{ subclone.researcher }}</td></tr>
        <tr><th>E. coli Collection</th><td>{{ subclone.ec_collection }}</td></tr>
        <tr><th>Primer 1 Name</th><td>{{ subclone.primer1_name }}</td></tr>
        <tr><th>Primer 1 Sequence</th><td>{{ subclone.primer1_seq }}</td></tr>
        <tr><th>Primer 2 Name</th><td>{{ subclone.primer2_name }}</td></tr>
        <tr><th>Primer 2 Sequence</th><td>{{ subclone.primer2_seq }}</td></tr>
    </table>
{% endblock %}

{% block link %}
    {% if perms.mainsite.change_subclone %}
        <a href="/edit/subclone/{{ subclone.subclone_name }}"><img src="{{ STATIC_URL }}icons/edit.png" alt="edit">Edit {{ subclone.subclone_name }}</a><br>
    {% endif %}
    <a href="export/" ><img src="{{ STATIC_URL }}icons/download.png" alt="edit">CSV File</a><br>
{% endblock %}