{% extends "base.html" %}

{% block subtitle %}
<img src="{{ STATIC_URL }}icons/allblack64.png"><h2 class="list">Subclone Assays</h2>
{% endblock %}

{% block content %}
    {% if subclone_assay_list %}
        
                {% if search %}
                        <p><a href="/export/subclone_assay" >Download All Search Results</a></p>
                        {% if search == 2 %}
                        <p>Search for '{{query}}' returned {{total}} results</p>
                        {% else %}
                        <p> Search returned {{total}} results</p>
                        {% endif %}
                {% else %}
                        <p><a href="/export/subclone_assay" >Download All Records</a></p>
                        <p>{{total}} subclone assay records found</p>
                {% endif %}
                        <div class="pagination">
                        
                           <span class="page-links"><p>
                                   {% if subclone_assay_list.has_previous %}
                                           <a href="?{{queries.urlencode}}&page={{subclone_assay_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                                   {% endif %}
                                   <span class="page-current">
                                           Page {{subclone_assay_list.number}} of {{ subclone_assay_list.paginator.num_pages}}
                                   </span>
                                   {% if subclone_assay_list.has_next %}
                                           <a href="?{{queries.urlencode}}&page={{subclone_assay_list.next_page_number}}&order_by={{order_by}}">Next</a>
                                   {% endif %}
                        </p></span>
                        </div>
                <table class="list">
                    <tr>
                        <th><a href="?{{queries.urlencode}}&order_by=subclone">Subclone Name</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=host">Expression Host</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=substrate">Substrate</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=antibiotic">Antibiotic</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=researcher">Researcher Name</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=subclone_km">Km (mM)</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=subclone_ph">pH Optimum</a></th>
                        <th><a href="?{{queries.urlencode}}&order_by=subclone_temp">Temperature Optimum</a></th>
                        <th>Comments & Observations</th>
                    </tr>
                {% for subclone_assay in subclone_assay_list %}
                    <tr>
                        <td><a href="{% url 'subclone-assay-list' %}{{ subclone_assay.pk }}">{{ subclone_assay.subclone.subclone_name }}</a></td>
                        <td>{{ subclone_assay.host.host_name}}</td>
                        <td>{{ subclone_assay.substrate.substrate_name }}</td>
                        <td>{{ subclone_assay.antibiotic.antibiotic_name }}</td>
                        <td>{{ subclone_assay.researcher.researcher_name }}</td>
                        <td>{{ subclone_assay.subclone_km}}</td>
                        <td>{{ subclone_assay.subclone_ph }}</td>
                        <td>{{ subclone_assay.subclone_temp }}</td>
                        <td>{{ subclone_assay.subclone_comments }}</td>
                    </tr>
                {% endfor %}
            </table>
                <div class="pagination">
                    <span class="page-links"><p>
                            {% if subclone_assay_list.has_previous %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_assay_list.previous_page_number}}&order_by={{order_by}}">Previous</a>
                            {% endif %}
                            <span class="page-current">
                                    Page {{subclone_assay_list.number}} of {{ subclone_assay_list.paginator.num_pages}}
                            </span>
                            {% if subclone_assay_list.has_next %}
                                    <a href="?{{queries.urlencode}}&page={{subclone_assay_list.next_page_number}}&order_by={{order_by}}">Next</a>
                            {% endif %}
                    </p></span>
                </div>
        {% else %}
            <p>0 Subclone assays found. <a href="{% url 'subclone-assay-search' %}">Try another search</a>.</p>
        {% endif %}
{% endblock %}