{% extends "add.html" %}

{% block pagetitle%}
Add Subclone
{% endblock %}

{% block titletext %}
Add Subclone
{% endblock %}


{% block urlform %}
{% url "subclone-add" %}
{% endblock %}


{% block form %}
        
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p><font color="red">{{ error }}</font></p>
            {% endfor %}
        {% endif %}
    
        {% for field in form %}
            <tr>
                <th>
                {% if field.field.required %}
                    *{{ field.label }}
                {% else %}
                    {{ field.label }}
                {% endif %}
                </th>
                <td>
                {{ field }}
                </td>
                {% if field.errors %}
                <td style="background:#FFFFFF">
                <p style="color:red">{{ field.errors.as_text }}</p>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        
{% endblock %}

{% block link %}
{% endblock %}