{% extends "add.html" %}

{% block pagetitle%}
    Add Subclone Assay
{% endblock %}

{% block titletext %}
Add Subclone Assay
{% endblock %}

{% block urlform %}
    {% url "subclone-assay-add" %}
{% endblock %}

{% block form %}
    {% for field in form %}
        <tr>
            <th>
            {% if field.field.required %}
                *{{ field.label }}
            {% else %}
                {{ field.label }}
            {% endif %}
            </th>
            <td>
            {{ field }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block link %}
{% endblock %}
