{% extends "base.html" %}

{% block content %}
    <table border = 1>
            <tr>
                <th>Subclone Name</th>
                <th>Researcher Name</th>
                <th>Parent Cosmid Name</th>
                <th>ORF ID</th>
                <th>Vector</th>
                <th>E. coli Stock Location</th>
            </tr>
        {% for subclone in subclone_list %}
            <tr>
                <td>{{ subclone.subclone_name }}</td>
                <td>{{ subclone.researcher.researcher_name }}</td>
                <td>{{ subclone.cosmid.cosmid_name }}</td>
                <td>{{ subclone.orf.id }}</td>
                <td>{{ subclone.vector.vector_name }}</td>
                <td>{{ subclone.ec_location }}</td>

                
            </tr>
        {% endfor %}
    </table>
{% endblock %}
