{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Substrates</h2>
{% endblock %}

{% block content %}   
    <table class="list">
            <tr>
                <th>Substrate Name</th>
            </tr>
        {% for substrate in substrate_list %}
            <tr>
                <td>{{ substrate.substrate_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/substrate"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">CSV File</a>
    </section>
{% endblock %}