{% extends "base.html" %}

{% block head %}
<title>Metagenomics Clone Bank</title>

<script type="text/javascript" src="/usr/local/lib/python2.7/dist-packages/jquery/static/jquery"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("select#pool").submit(function(event){
                $.ajax({
                    type:"POST",
                    url:"/contigtool/",
                    data: {'pool': $('#pool').find(":selected").text()},
                });
            });
        }); 
    </script>

{% endblock %}

{% block pagetitle %}
    <title>Contig Retrieval Tool</title>
{% endblock %}

{% block subtitle %}
    <img src="{{ STATIC_URL }}icons/tools256.png" width="64"><h2 class="tools">Contig Retrieval Tool</h2>
{% endblock %}

{% block content %}
    
<p>This custom tool assists with retrieving cosmid DNA sequences from assembled Illumina sequencing data, obtained from
<a href='{{ STATIC_URL }}pooled-sequencing.png'>pooled seqeuncing</a>.</p>
<p>Briefly, cosmids are first Sanger-sequenced at either end to generate cosmid-specific end-tags;
this information can be input into the database as part of the <a href='{% url 'cosmid-end-tag-add' %}'>Add Cosmid</a> page (or added by editing existing Cosmid entries).
For sequencing, the lab selects cosmids, pools the DNA, and cosmids are sequenced as a pool. Users must assemble the seqeuncing
data independently, and upload the contigs into the database through the <a href='{% url 'contig-pool-add' %}'>Add Contigs</a> page.</p>
<p>This tool allows the user to select cosmids from a sequencing pool, on which to execute contig retrieval.
The tool takes each cosmid's end-tags and uses BLAST to retrieve matching contigs. It indicates whether the two retrieved
contigs are matched or unmatched, or indicates an ambiguous result in the case that one end-tag retrieves more than one contig.
Users must validate the contig retrieval results before they are committed to the database.</p>
<p>Please select a pool:</p>

<section id="tool1">
    <form action="{% url "contig" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
    <tr><th>Select Pool</th>
        <td><select id="pool" name="pool">
            {% for entry in pool %}
                <option value="{{entry.id}}"{% ifequal poolselect entry.id %}selected{% endifequal %}> {{entry.id}}</option>
            {% endfor %}
        </select>
        </td>
    </tr>
    </table>
    <input type="submit" name="detail" value="Display Pool" />
    </form>
    <table>
        {% for selected in detail %}
            <tr><th>Selected Pool</th><td>{{selected.id}}</td></tr>
            <tr><th>Service Provider</th><td>{{selected.service_provider}}</td></tr>
            <tr><th>Max Clones for Pool</th><td>{{selected.max_number}}</td></tr>
            <tr><th>NCBI SRA Accession</th><td>{{selected.ncbi_sra_accession}}</td></tr>
            <tr><th>Comments</th><td>{{selected.pool_comments}}</td></tr>
        {% endfor %}    
    </table>

</section>
{% if detail %}
    <section id="tool2">
        {% if notjoined %}
        <form>
        <table>
            <tr><th>Retrieve Contigs for the selected Cosmids</th></tr>
                {% for c in notjoined %}
                <tr><td><input type="checkbox" name="cos" checked/>{{ c }}</td></tr>
                {% endfor %}
        </table>
        <input type="submit" name="submit" value="Submit" />
        </form>
        {% else %}
        <p>There are no Cosmids in this pool. You must add comsids to this pool by either editing an existing cosmid or adding a new one.</p>
        {% endif %}
    </section>
{% endif %}
{% if joined %}
<div class="joinedtable">
    <table>
        <tr><th>Cosmids in Pool that are already associated with contigs</th></tr>
        {% for j in joined %}
            <tr><td>{{ j }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}