{% extends "base.html" %}

{% block head %}<title>Contig Retreival Tool</title>{% endblock %}

{% block pagetitle %}
    <title>Contig Retrieval Tool Results</title>
{% endblock %}

{% block subtitle %}
    <h1>Contig Retrieval Tool Results</h1>
{% endblock %}

{% block content %}
<form action="{% url 'contig-tool-results' %}" method='POST'>
{% csrf_token %}
<table style="border-collapse: separate; border-spacing: 1px">
<tr><th>Cosmid Name</th><th>Select Contig</th><th>Strand</th><th>Contig Name</th><th>Percent Identity</th><th>End Tag Length</th><th>Contig Length</th><th>Match Type</th></tr>

    {% for cos, strand, con, iden, endlen, conlen, match in results %}
<tr>
    
        {% ifchanged cos %}<td>{{cos}}</td>{% else %}<td> </td>{% endifchanged %}
        {% ifchanged con %}
                <td><input type="checkbox" name="select" value="{{ cos }}<$$>{{ con }}" {% if "1" in match %}checked{% endif %}/></td>
        {% else %}
                <td> </td>
        {% endifchanged %}
        <td>{% if "F" in strand %}Forward{% endif %}
            {% if "R" in strand %}Reverse{% endif %}</td>
        <td>{{con}}</td>
        <td>{{iden|floatformat}}</td>
        <td>{{endlen}}</td>
        <td>{{conlen}}</td>
        <td {% ifequal match "1" %}
                style="background-color:#339933">Match
            {% endifequal %}
            {% ifequal match "2" %}
                style="background-color:#990033">Mismatch
            {% endifequal %}
            {% ifequal match "3" %}
                style="background-color:#FF9933">Ambiguous
            {% endifequal %}</td>
</tr> 
    {% endfor %}

    <input type="submit" name="submit" value="Submit"/>
</table>
</form>
{% endblock %}