{% extends "base.html" %}

{% block head %}
{% endblock %}


{% block pagetitle %}
    <title>ORF Identification and Annotation Tool</title>
{% endblock %}

{% block subtitle %}
    <img src="{{ STATIC_URL }}icons/tools256.png" width="64"><h2 class="tools">ORF Finding and Annotation Tool</h2>
{% endblock %}

{% block content %}
    
<p>Thank you for your submission. You will be notified by e-mail about the success of your job;
the e-mail will be sent in less than twenty four hours to the following address: {{ email }}</p>

<p>Please do not run the ORF Finding and Annotation tool on any more Contigs until
you have recieved notification that your job is complete.</p>

<p>The Contigs currently being processed are:
<ul>
{% for cosmid in contigs %}
    <li>{{ contig.contig_name }}
{% endfor %}
</ul>
</p>

{% endblock %}