{% extends "base.html" %}

{% block head %}
<title>Metagenomics Clone Bank</title>

<script type="text/javascript" src="/usr/local/lib/python2.7/dist-packages/jquery/static/jquery"></script>
    <script type="text/javascript">
        
        $(document).ready(function() {
            
            $("select#pool").submit(function(event){
                $.ajax({
                    type:"POST",
                    url:"/contigtool/",
                    data: {'pool': $('#pool').find(":selected").text()},
                });
                return false;
            });
        });
        
        //function deselect() {
        //    $(".pop").slideFadeToggle(function() { 
        //        $("#contact").removeClass("selected");
        //    });    
        //}
        //
        //$(function() {
        //    $("#contact").live('click', function() {
        //        if($(this).hasClass("selected")) {
        //            deselect();               
        //        }
        //        else {
        //            $(this).addClass("selected");
        //            $(".pop").slideFadeToggle(function() { 
        //                $("#email").focus();
        //            });
        //        }
        //        return false;
        //    });
        //
        //    $(".close").live('click', function() {
        //        deselect();
        //        return false;
        //    });
        //});
        //
        //$.fn.slideFadeToggle = function(easing, callback) {
        //    return this.animate({ opacity: 'toggle', height: 'toggle' }, "fast", easing, callback);
        //};
    </script>

{% endblock %}


{% block pagetitle %}
    <title>Contig Retrieval Tool</title>
{% endblock %}

{% block subtitle %}
    <h1>Contig Retrieval Tool</h1>
{% endblock %}

{% block content %}
<section id="tool1">
    <table>

    <form action="{% url "contig" %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
   
    <tr><th>Select Pool</th>
        <td><select id="pool" name="pool">
            {% for entry in pool %}

                <option value="{{entry.id}}"{% ifequal entry.id pool %}selected="selected"{% endifequal %}>{{entry.id}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="detail" value="Display Pool" />
        </td>
    </tr>
        {% for selected in detail %}
            <tr><th>Selected Pool</th><td>{{selected.id}}</td></tr>
            <tr><th>Service Provider</th><td>{{selected.service_provider}}</td></tr>
            <tr><th>Max Clones for Pool</th><td>{{selected.max_number}}</td></tr>
            <tr><th>NCBI SRA Accession</th><td>{{selected.ncbi_sra_accession}}</td></tr>
            <tr><th>Comments</th><td>{{selected.pool_comments}}</td></tr>
        {% endfor %}
            
            {{ ContigForm }}
            {{ contig_upload_form }}

        </table>
    
       
    <input type="submit" name="submit" value="Submit" />
</section>    
{% endblock %}

{% block second %}
<section id="tool2">
    <table>
        <form>
    <tr><th>Select Cosmids</th>
        <td><select id="cosmids" name="cosmids">
            {% for cosmid in cosmids %}
                <option value="{{cosmid.name}}">{{cosmid.name}}</option>
            {% endfor %}
        </select></td>
    </tr>
    
        </form>
    </table>
</section>
{% endblock %}

{% block third %}
<section id="tool3">
    <table>
    <tr><th>Cosmids in Pool</th></tr>
    {% for name in cosmids%}
        <td>{{name}}</td>
    {% endfor %}
    </table>
</section>
{% endblock %}