{% extends 'base.html' %}

{% block head %}
<title>Change User Settings</title>
{% endblock %}
{% block content %}
    <h2><img src="{{ STATIC_URL }}/gear.png">Change User Settings</h2>
    <table>
    
        {{ form }}
    </table>
    <form action="" method="POST">
        {% csrf_token %}
        
        <table>
           <tr>
                <td><label for="first">First name</label></td>
                <td><input type="text" id="first" name="first" value="{{ user.first_name }}"></td>
           </tr>
           <tr>
                <td><label for="first">Last name</label></td>
                <td><input type="text" id="last" name="last" value="{{ user.last_name }}"></td>
           </tr>
           <tr>
                <td><label for="email">Email address</label></td>
                 <td><input type="email" id="email" name="email" value="{{ user.email }}"></td>
           </tr> 
           <tr>
                <td><label for="pass">Password</label></td>
                <td><input type="password" id="pass" name="pass" value="{{ user.password }}"></td>
           </tr>
           <tr>
                <td><label for="first">Confirm Password</label></td>
                <td><input type="password" id="passc" name="passc" value="{{ user.password }}"></td>
           </tr>
        </table>
        <input type="submit" value="Save changes">
    </form>
{% endblock %}