{% extends 'base.html' %}

{% block head %}
<title>Change User Settings</title>
{% endblock %}

{% block subtitle %}
<h2><img src="{{ STATIC_URL }}/gear.png">Change User Settings</h2>
{% endblock %}

{% block content %}
    {% for key,value in form_errors.items %}
        {{ value }}
    {% endfor %}
    
    <form action="{% url "usersettings" %}" method="POST">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Save changes">
    </form>
    <a href="/user/password/change">Change Password</a>
{% endblock %}