{% extends "base.html" %}

{% block subtitle %}
<h2 class="list">Vectors</h2>
{% endblock %}

{% block content %}
    <table class="list">
            <tr>
                <th>Vector Name</th>
                <th>Vector Type</th>
                <th>NCBI Acession</th>
                <th>Decription</th>
            </tr>
        {% for vector in vector_list %}
            <tr>
                <td><a href="{% url 'vector-list' %}{{vector.id}}">{{ vector.vector_name }}</a></td>
                <td>{{ vector.vector_type }}</td>
                <td>{{ vector.vector_accession }}</td>
                <td>{{ vector.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="page-links"><p>
                {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <span class="page-current">
                        Page {{page_obj.number}} of {{ page_obj.paginator.num_pages}}
                </span>
                {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}">Next</a>
                {% endif %}
        </p></span>
    </div>
{% endblock %}

{% block second %}
    <section id="second">
        <h3>Quick Links</h3>
        <a href="/export/vector"><img class="download" src="{{ STATIC_URL }}icons/download.png" alt="download">Download All Records</a>
    </section>
{% endblock %}