/*
	Name: Metagenommics Clone Bank Site
	Date: Feb 11 2014
	Description: Base CSS file for all of site
	Version: 1.0
	Author: Phil Rees & Kathy Lam
*/
/*@import url("reset.css");*/



/* images */
img.download {
    margin: 3px;
    position: relative;
    top: 12px;
}

img.viewall {
    margin: 5px;
    position: relative;
    top: 15px;    
}

h2 {
    margin: 0px 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
}

h2.home {
    margin: 0px;
    position: relative;
    top: 0;
}
/* shouldnt need any of these. all of them are the same so replaced with generic h2 values. and added home to handle the exception.
h2.add {
    margin: 0px 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
}

h2.search {
    margin: 0 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
}
h2.tools {
    margin: 0 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
}

h2.list {
    margin: 0 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
}


h2.detail {
    margin: 0 10px 20px 10px;
    display: inline;
    position: relative;
    top: -24px;
} */

h2 img {
    margin: 30px;
    position: relative;
    top: 30px;
}

/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #FCD450;
    font-family: verdana, arial, sans-serif;
    box-shadow: 0px 8px 6px -6px #888888;
    z-index: 1;
}

header h1 {
    padding-left: 50px;
    background: url('title.png') top left no-repeat;
    height: 58px;
    margin-left: 25px;
}
header img {
    float: left;
    padding: 5px;
}


/* Main menu */

nav {
    width: 100%;
    background-color: #000000;
}
nav ul ul {
    display: none
}
    
    nav ul li:hover > ul {
	display: block;
    }
    
nav ul {
    background: #000000;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0px;
    padding: 0;
}

    nav ul:after {
	content: "";
	clear: both;
	display: block;
    }

nav ul li {
    float: left;
}
    nav ul li img {
	margin-right: 5px;
	padding: 0;
	position: relative;
	top: -3px;
    }
    
    nav ul li:hover {
	background: #292e34;
    }
    
	nav ul li:hover a {
	    color: #fff;
	}
	
    nav ul li a {
	display: block;
	padding: 10px 40px;
	color: #ffffff;
	text-decoration: none;
    }
    
nav ul ul {
    background: #292e34 ;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%;
}
    nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
    }
	nav ul ul li a {
	    padding: 5px 10px;
	    color: #fff;
	}
	    nav ul ul li a:hover{
		background: #000000;
	    }

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
/* Main menu end*/

#title {
    position: relative;
    top: 125px;
    display: block;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: verdana, arial, sans-serif;}
 
/* Main content section*/ 
#main {
    float: left;
    font-family: verdana, arial, sans-serif;
    margin-left: 30px;
    margin-right: 0px;
    max-width:98%; /* added to stop large tables from overflowing past right hand side edge of footer and header. this isnt perfect. effectively the right margin is relative to total width. it should be a fixed size.*/
    padding: 0;
    margin-top: 132px;
    margin-bottom: 25px;
    overflow: auto;
    background-color: #fff;
}

#second {
    float: left;
    margin-top: 135px;
    font-family: verdana, arial, sans-serif;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #888;
    background-color: #eee;
}

#second a { /*style for links in secondary section
    /*text-decoration: none;*/
    color: #000;
}

#second a img {
    position: relative;
    top: 20px;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 10px;
}
#second h3 {
    padding: 0;
    margin: 0;
}

#tool1 {
    border: solid;
    border-width: thin;
    border-radius: 4px;
    box-shadow: 3px 3px 5px #888;
}
#tool2 {
    float: left;
    margin-top: 133px;
    border: solid;
    border-width: thin;
    margin-left: 70px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 4px;

}

#tool3 {
    float: left;
    margin-top: 5px;
    border: solid;
    border-width: thin;
    margin-left: 70px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 4px;

}

/* Login area in the top right of every page*/ 
#user {
    font-family: verdana, arial, sans-serif;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 61px;
    padding: 10px 10px 10px 20px;
    background-color: #FCD450;
    font-weight: bold;
    /*border-left: solid;*/
}


/*Footer at the bottom of every page*/ 
#footer {
    font-family: verdana, arial, sans-serif;
   /* position: relative;
    bottom: -13px;
    left: -8px;
    width: 101%; */
    clear: both;
    position: relative; /*this line and the next 2 are a hack fix to get the foot to fully span the bottom and sit directly at bottom of page */
    bottom: -13px; /*without these 3 lines (position, bottom and margin) the footer in inset with the page on the left, right and bottom */
    margin: 0 -8px 0 -8px;
    padding: 0;
    border: none;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 80px;
    z-index: -1; 
}

#footer a {
    /*text-decoration: none;*/
    color: #fff;
    margin: 0 10px;
}

/* style for all paragraph fonts*/
p {
    font-family: verdana, arial, sans-serif;
    font-size: 14px; 
}

/*For all table styles*/
table {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    border: 0px;
    border-spacing:5px;
}

td {
    padding:10px;
    background-color: #EEEEEE;
    border: 0px;
}

th {
    padding:10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
}

table.search {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    border: 0px;
    border-spacing:5px;
}

table.search td{
    padding:5px;
    background-color: transparent;
    border: 0px;
}

table.search th{
    padding:5px;
    border: 0px;
}

table.tool td{
    padding:10px;
    background-color: #EEEEEE;
    border: 0px;
}

table.tool th{
    padding:10px;
    border: 0px;
}

table.tool th a {
    vertical-align: center 
    display: inline-block;
    width:100%;
    height:100%;
    color: #FFF;
}

table.tool td a {
    vertical-align: left 
    display: inline-block;
    width:100%;
    height:100%;
    color: #000;
}

table.list td {
    text-align: center;
    padding: 5px; /* if this is set the padding is not a link. if its not there the cell looks to crowded. need to fix */
    background-color: #EEEEEE;
    border: 0px;
    vertical-align: middle;
    height: 3em
}

table.list td a {
    vertical-align: center /* to center links in table cell --Kathy*/
    display: inline-block;
    width:100%;
    height:100%;
    color: #000;
}

table.list tr:hover td {
    background-color: #ddd;
}
/* style for submit buttons*/
input[type=submit] {
    width: 10em;
    height: 3em;
    margin: 20px;
}

/* for tabs on cosmid page*/
.tabs {
  font-family: verdana, arial, sans-serif;
  position: relative; 
  clear: both;
 /* width: 100%;*/
  margin: 25px 0;
}

.tabs a {
    color: #000;
}
.tabs .tabContent table td {
    background-color: #888;
    color: #fff;
    text-align: center;
}

.tabs .tabContent table a {
    color: #fff;
}
