/*
	Name: Metagenommics Clone Bank Site
	Date: Feb 11 2014
	Description: Base CSS file for all of site
	Version: 1.0
	Author: Phil Rees & Kathy Lam
*/
/*@import url("reset.css");*/



/* images */
img.download {
    margin: 3px;
    position: relative;
    top: 12px;
}

img.viewall {
    margin: 5px;
    position: relative;
    top: 15px;    
}


/* Header */

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 160px;
    background-color: #FCD450;
    font-family: verdana, arial, sans-serif;
    box-shadow: 0px 8px 6px -6px #888888;

}

header img {
    float: left;
    padding: 5px;
}


/* Main menu */

nav {
    width: 100%;
    background-color: #000000;
	
}
nav ul ul {
    display: none
}
    
    nav ul li:hover > ul {
	display: block;
    }
    
nav ul {
    background: #000000;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0px;
    padding: 0;
}

    nav ul:after {
	content: "";
	clear: both;
	display: block;
    }

nav ul li {
    float: left;
}
    nav ul li img {
	margin-right: 5px;
	padding: 0;
	position: relative;
	top: -3px;
    }
    
    nav ul li:hover {
	background: #292e34;
    }
    
	nav ul li:hover a {
	    color: #fff;
	}
	
    nav ul li a {
	display: block;
	padding: 10px 40px;
	color: #ffffff;
	text-decoration: none;
    }
    
nav ul ul {
    background: #292e34 ;
    border-radius: 0;
    padding: 0;
    position: absolute;
    top: 100%;
}
    nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
    }
	nav ul ul li a {
	    padding: 5px 10px;
	    color: #fff;
	}
	    nav ul ul li a:hover{
		background: #000000;
	    }

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
/* Main menu end*/
 
 
/* Main content section*/ 
#main {
    font-family: verdana, arial, sans-serif;
    margin-left: 10px;
    border-style: none;
    padding: 20px;
    margin-top: 170px;
    overflow: auto;
    background-color: #fff;

}


/* Login area in the top right of every page*/ 
#user {
    font-family: verdana, arial, sans-serif;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0 auto;
    padding: 10px;
    background-color: #0073CF;
    
    box-shadow: -2px 2px 5px #888888;
}


/*Footer at the bottom of every page*/ 
#footer {
    font-family: verdana, arial, sans-serif;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px -2px 6px 0px #888888;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 80px;
    z-index: -1;
    text-decoration: none;
}

/* style for all paragraph fonts*/
p {
    font-family: verdana, arial, sans-serif;
    font-size: 14px; 
}

/*For all table styles*/
table {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    border: 0px;
    border-spacing:5px;
    border-color:#567832;
}

td {
    padding:10px;
    background-color: #EEEEEE;
    border: 0px;
}

th {
    padding:10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
}

/* style for submit buttons*/
input[type=submit] {
    width: 10em;  height: 3em;
}