<style type='text/css'>
p
{
    font-family: verdana;
    font-size: 14px;
    margin-left:;
    
}
table
{
    margin-left:;
    font-family: verdana;
    font-size: 12px;
    border: 0px;
    border-spacing:5px;
    border-color:#567832;
}
td
{
    padding:10px;
    background-color: #EEEEEE;
    border: 0px;
}
th
{
    padding:10px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
}
</style>
